*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.container
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .ring
{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #DCE4F2;
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.container .ring::before
{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #DCE4F2;
    box-shadow: 0 0 0 5px #DCE4F233,
    0 0 0 10px #DCE4F222,
    0 0 0 20px #DCE4F211,
    0 0 20px #DCE4F2,
    0 0 40px #DCE4F2,
    0 0 50px #DCE4F2;
}

.container .ring:nth-child(2)
{
    animation: animate2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #8C6056;
}

.container .ring:nth-child(2)::before
{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #8C6056;
    box-shadow: 0 0 0 5px #8C605633,
    0 0 0 10px #8C605622,
    0 0 0 20px #8C605611,
    0 0 20px #8C6056,
    0 0 40px #8C6056,
    0 0 50px #8C6056;
}

@keyframes animate2
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.container .ring:nth-child(3)
{
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #7e61dd;
}

.container .ring:nth-child(3)::before
{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #7e61dd;
    box-shadow: 0 0 0 5px #7e61dd33,
    0 0 0 10px #7e61dd22,
    0 0 0 20px #7e61dd11,
    0 0 20px #7e61dd,
    0 0 40px #7e61dd,
    0 0 50px #7e61dd;
}

.container p
{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: -80px;
    letter-spacing: 0.15em;
}

a
{
    text-decoration-line: none;
    color: inherit;
}